# Phonegap wrapper TODO: review
class window.AppWrapper
  # Application Constructor
  initialize: ->
    @application = new Application();

    # <% if build? && target?(:phonegap) %>
    @bindEvents()
    # <% end %>

    # <% if development? || !build_target_is?(:phonegap) %>
    @application.start()
    # <% end %>
  
  # Bind Event Listeners
  bindEvents: ->
    document.addEventListener 'deviceready', @onDeviceReady, false
    #document.addEventListener 'backbutton', @onBackKey, false

  # Handlers
  onDeviceReady: ->
    @phonegap = new Phonegap()
    @phonegap.initialize()
    @application.start()

  onBackKey: ->
    @application.router?.onBackKey?()

