# Globals

# <% if build? %>
window.server_url = 'https://handshake-server.herokuapp.com'
# window.client_url = 'http://192.168.1.50:5100'
# <% else %>
window.server_url = 'http://localhost:3500'
# window.client_url = 'http://192.168.1.50:5100'
# <% end %>

window.access_token_name = 'handshake_access_token'

# Access to remote API
window.server = (path) -> "#{server_url}/#{path}"
window.server_api = (path) -> "#{server_url}/api/#{path}"

# Configure backbone
_sync = Backbone.sync

clean_parameters = (key, object) ->
  delete object[key] if key in ['response_errors', 'saving', 'selected'] or (key is '_destroy' and not object['_destroy'])
  if object[key] instanceof Array
    delete object[key] if object[key].length is 0

Backbone.sync = (method, model, options) ->
  # Serialize data, optionally using paramRoot
  if not options.data? and model and (method is 'create' or method is 'update' or method is 'patch')
    options.contentType = 'application/json'
    data = ''
    if model.paramRoot
      data = {}
      data[model.paramRoot] = model.toJSON(options)
      traverse_object data[model.paramRoot], clean_parameters
    else
      data = model.toJSON()
      traverse_object data, clean_parameters

    options.data = JSON.stringify(data)

  # Inject access token, TODO: add as option
  new_options = _.extend({
    beforeSend: (xhr) ->
      token = session.get('access_token')
      token_header = "Token token=#{token}"
      xhr.setRequestHeader('Authorization', token_header) if session.is_authenticated()
  }, options)

  # Inject response error to models
  new_options.error = (resp) ->
    # Redirect if token was invalidated
    if resp.status is 401 and session.is_authenticated()
      router.needs_logging_out()
      NProgress.done()
    
    options.error?(resp)

  # Call original sync
  _sync.call(this, method, model, new_options)