<div class="floating-btn" data-bind="click: onToggleFloatingButton, css: {active: floating_button_visible, open: floating_button_pressed}">
	<%= fa_icon 'comments' %>
	<!-- <%= image_tag 'floating_btn_icon.png' %> -->
	<span class="actions">
		<span class="action"><span><%= fa_icon 'comment' %></span></span>
		<span class="action"><span><%= fa_icon 'camera' %></span></span>
		<span class="action"><span><%= fa_icon 'microphone' %></span></span>
	</span>
</div>

<!-- ko if: floating_button_pressed_and_visible -->
	<div class="floating-btn-overlay" data-bind="click: onCloseFloatingButton"></div>
<!-- /ko -->