<nav class="bar bar-tab bar-footer" data-bind="css: {active: footer_visible}">
	<a class="tab-item" href="#home" data-bind="css: { active: section_tab_is('home') }">
		<%= fa_icon 'home' %>
	</a>
	<a class="tab-item" href="#cards" data-bind="css: { active: section_tab_is('cards') }">
		<%= fa_icon 'newspaper-o' %>
	</a>
	<a class="tab-item handshake" href="#handshake">
		<img class="logo" src="img/thick_logo.png" />
	</a>
	<a class="tab-item" href="#collection" data-bind="css: { active: section_tab_is('collection') }">
		<%= fa_icon 'star' %>
	</a>
	<a class="tab-item" href="#search" data-bind="css: { active: section_tab_is('search') }">
		<%= fa_icon 'search' %>
	</a>
</nav>