<header class="bar bar-nav form primary" data-bind="css: {active: header_visible, searching: searching}">
	<button class="btn-link btn-nav pull-left menu-btn with-background" data-bind="css: {active: !searching()}">
		<%= fa_icon 'bars' %>
	</button>
	<button class="btn-link btn-nav pull-left with-background" data-bind="click: onBackHistory, css: {active: searching}">
		<%= fa_icon 'arrow-left' %>
	</button>
	<a href="#home" class="title">
		<!-- <img class="logo" src="img/navbar_logo.png" /> -->
		<span>My App</span>
	</a>
	<div class="search field for-transparent compact">
		<input id="search" type="search" placeholder="Search" class="edit transparent typeahead" data-bind="event: {keypress: onKeyPress}">
	</div>
	<button class="btn-link btn-nav pull-right active" data-bind="click: onSearch, css: {'with-background': searching}">
		<%= fa_icon 'search' %>
	</button>
</header>