<nav class="pushy pushy-left">
	<div class="profile clearfix">
		<div class="profile-image">
			<%= image_tag 'profile.png' %>
		</div>
		<h1><%= ko 'username' %></h1>
	</div>
	<ul>
		<li><a href="#home" data-bind="css: { active: section_tab_is('home_index') }"><%= fa_icon 'home' %> Home</a></li>
		<li><a href="#settings" data-bind="css: { active: section_tab_is('home_settings') }"><%= fa_icon 'cog' %> Settings</a></li>
	</ul>
</nav>