/* authentication specific rules */

.auth-page {
	background: white;
	.auth-content {
		@include absolute-expanded;
		@include transition(1s, opacity);
		height: 100%;
		opacity: 1;
		overflow: hidden;
		z-index: 1;
		&.success { 
			opacity: 0;
			pointer-events: none;
		}
	}
	.dialog {
		padding-top: 32px;
	}
	.edit {
		@include rounded-corners(0);
		border: none;
		border-bottom: 1px solid black(0.25);
		height: 40px;
		line-height: 40px;
	}
	.directions {
		@include open-sans(18, normal, $half-text);
		margin: 0 0 32px;
		text-align: center;
	}
	.frame-hints {
		border: none;
	}
	.auth-welcome {
		@include absolute-expanded;
		overflow: hidden;
		pointer-events: none;
		z-index: 0;
		h2 {
			&.status-message {
				@include open-sans(40, 300, $gray-8);
				padding: 96px 32px 32px;
				border: none;
			}
		}
		h3 {
			&.status-message-secondary {
				@include open-sans(24, 300, $primary);
				padding: 0 32px;
				text-align: center;
			}
		}
	}
}

#sessions-new-content {
	.auth-heading {
		background: url(../img/bg.jpg) center center no-repeat fixed;
		background-size: cover;
		height: 180px;
		position: relative;
		&:after {
			@include absolute-expanded;
			background: $primary;
			content: ' ';
			opacity: 0.5;
		}
		.logo {
			@include absolute-centered(160px, 55px);
			z-index: 1;
			display: block;
		}
	}
	p {
		&.or {
			margin-top: 16px;
			text-align: center;
			a {
				@include open-sans(16, normal, white(0.85));
				@include rounded-corners($global-radius);
				background: black(0.25);
				display: inline-block;
				padding: 6px 12px;
			}
		}
	}
	@media screen and (max-height: 540px) {
		.auth-heading { height: 100px; }		
	}
	
}