/* vendors
*= require normalize.css/normalize
*= require nprogress
*= require font-awesome/css/font-awesome
*/



/* functions */

@function lower-bound($range){
	@if length($range) <= 0 {
		@return 0;
	}
	@return nth($range,1);
}

@function upper-bound($range) {
	@if length($range) < 2 {
		@return 999999999999;
	}
	@return nth($range, 2);
}



/* colors */

//gray scale
$gray-2: #222222;
$gray-4: #444444;
$gray-6: #606060;
$gray-7: #707070;
$gray-8: #888888;
$gray-a: #a0a0a0;
$gray-b: #bbbbbb;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$gray-f4: #f4f4f4;
$gray-f8: #f8f8f8;
$gray-fa: #fafafa;
$gray-fc: #fcfcfc;

//primary colors
$cyan: #00a2c1;
$green: #4cc848;
$orange: #fd8702;
$red: #ed5124;
$yellow: #d3d002;
$blue: #24a4dd;

//secondary colors
$dcyan: darken($cyan, 10%);
$lcyan: lighten($cyan, 5%);
$lblue: lighten($blue, 10%);
$dblue: #1e4f59;


//component colors
//$primary: #e44a3c;
$primary: #3483ac; //saturate(#457e9b, 15%);
$dprimary: darken($primary, 10%);
$lprimary: lighten($primary, 5%);
$accent: #e8e804;
$daccent: darken($accent, 5%);
$dark: $dblue;
$full-text: $gray-4;
$half-text: $gray-7;
$light-text: $gray-a;
$body-bg: $dark;
$sidebar-bg: white;
$alert: $red;
$success: $green;

$color-1: #3b8686;
$color-2: #69aD9a;
$color-3: #a8dba8;
$color-4: #bff09e;
$dk-bg: #a0a2a4;

/* variables */

$small-range: (0em, 40em);
$medium-range: (40.063em, 64em);
$large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em, 99999999em);

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-down: "#{$screen} and (max-width:#{upper-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

$global-radius: 3px;

$cloak-z: 500;
$topbar-z: 1000;
$floating-btn-z: 5000;
$pushy-z: 6000;
$dialog-z: 7000;
$modal-z: 8000;
$modal-lv2-z: 8010;
$prompt-z: 9000;
$notifications-z: 11000;

/* mixins */

@import 'mixins';
@import 'flex';


/* fonts */	

@import 'fonts';


/* ratchet */

@import 'ratchet_overrides';
@import '../../vendor/bower_components/ratchet/sass/ratchet';
@import 'ratchet_overwrites';



/* base elements */

body {
	//@include user-select(none);
	@include backface-visibility(hidden);
}

h1 { 
	@include open-sans;
	text-align: center;
}

h2 { 
	@include subtitle; 
	text-align: center;
}

h3 { @include open-sans(24, normal, $primary); }

p { @include open-sans(18, normal, $half-text); }

a:not(.btn, .icon) {
	@include open-sans(18, normal, $blue);
	text-decoration: none;
}

img { width: 100%; }


/* components */

@import 'components/common_components';
@import 'components/pushy';
@import 'visibility';