/* dashboard home specific rules */

@import 'search';



#home-index-content {
	background: $gray-fa;
}

#home-settings-content {
	background: white;
	.content {
		padding-top: $bar-base-height;
		form { 
			padding: 0 16px 48px; 
		}
	}
}