/* functions */

$rem-base: 16px;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function convert-to-rem($value, $base-value: $rem-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
  $max: length($values);

  @if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }

  $remValues: ();
  @for $i from 1 through $max {
	$remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}

@function rc($px) {
	@return rem-calc($px);
}

@function black($opacity) {
	@return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
	@return rgba(255, 255, 255, $opacity);
}

@function u($args) {
	@return unquote($args);
}


/* position mixins */

@mixin clearfix {
	&:before, &:after { content: ''; display: table; }
	&:after { clear: both; }
	*zoom: 1;
}

.clearfix {
	@include clearfix;
}

@mixin absolute-centered($w: 0, $h: 0, $dx: 0, $dy: 0) {
	height: $h; width: $w; top: 50%; left: 50%;
	margin-top: $h / -2 + $dy; 
	margin-left: $w / -2 + $dx;
	position: absolute;
}

@mixin absolute-expanded($t: 0, $l: 0, $r: 0, $b: 0) {
	top: $t; left: $l; right: $r; bottom: $b;
	position: absolute;
}

@mixin absolute-tlwh($t: 0, $l: 0, $w: 0, $h: 0) {
	top: $t; left: $l; width: $w; height: $h;
	position: absolute;
}

@mixin translate-3d($x: 0, $y: 0, $z: 0) {
	transform: translate3d($x, $y, $z);
	-ms-transform: translate3d($x, $y, $z);
	-webkit-transform: translate3d($x, $y, $z);
}

@mixin translate-2d($x: 0, $y: 0) {
	@include translate-3d($x, $y, 0);
}



/* visual mixins */

@mixin box-shadow($args...) {
	-moz-box-shadow: $args;
	-webkit-box-shadow: $args;
	box-shadow: $args;
}

@mixin box-shadow-lv1 {
	@include box-shadow(0 0 2px black(0.1), 0 2px 6px black(0.2));
}

@mixin box-shadow-lv2 {
	@include box-shadow(0 3px 10px black(0.23), 0 3px 10px black(0.16));
}

@mixin shadow-border($color: $gray-d) {
	border-top: 1px solid $color;
	border-bottom: 1px solid $color;
	position: relative;
	&:after {
		@include absolute-expanded(auto);
		content: ' ';
		border-bottom: 1px solid darken($color, 8%);
	}
	border-top: 1px solid $color;
	border-bottom: 1px solid $color;
	// position: relative;
	// &:after {
	// 	@include absolute-expanded(auto, 0, 0, -1px);
	// 	content: ' ';
	// 	border-bottom: 1px solid black(0.05);
	// }
}

@mixin rounded-corners($r: 5px) {
	border-radius: $r;
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
}

@mixin free-border($color: black(0.05), $size: 1, $offset: -1px) {
	position: relative;
	&:before {
		@include absolute-expanded($offset, $offset, $offset, $offset);
		@include rounded-corners(3px);
		border: 1px solid black(0.05);
		content: '';
		pointer-events: none;
		z-index: 1; 
	}
}

@mixin gradient($c1, $c2) {
  background-color: $c2; /* Fallback Color */
  background: -webkit-gradient(linear, left top, left bottom, from($c1), to($c2)); /* Saf4+, Chrome */
  background: -webkit-linear-gradient(top, $c1, $c2); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background:    -moz-linear-gradient(top, $c1, $c2); /* FF3.6 */
  background:     -ms-linear-gradient(top, $c1, $c2); /* IE10 */
  background:      -o-linear-gradient(top, $c1, $c2); /* Opera 11.10+ */
  background:         linear-gradient(top, $c1, $c2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="#{$c1}", EndColorStr="#{$c2}");
}

@mixin gradient-h($c1, $c2) {
  background-color: $c2; /* Fallback Color */
  background: -webkit-gradient(linear, left top, right top, from($c1), to($c2)); /* Saf4+, Chrome */
  background: -webkit-linear-gradient(left, $c1, $c2); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background:    -moz-linear-gradient(left, $c1, $c2); /* FF3.6 */
  background:     -ms-linear-gradient(left, $c1, $c2); /* IE10 */
  background:      -o-linear-gradient(left, $c1, $c2); /* Opera 11.10+ */
  background:         linear-gradient(left, $c1, $c2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr="#{$c1}", EndColorStr="#{$c2}");
}

@mixin animation($args) {
	-moz-animation: $args;
	-o-animation: $args;
	-webkit-animation: $args;
	animation: $args;
}

@mixin circular-icon($d: rc(32), $bg: white, $h: $primary, $fg: $gray-4, $fs: rc(15), $ac: white) {
	@include rounded-corners(50%);
	background: $bg;
	border: none;
	color: $fg;
	display: block;
	font-size: $fs;
	height: $d;
	line-height: $d;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	width: $d;
	&:active {
		background: $h;
		color: $ac;
	}
}



/* other mixins */

$fn-bezier: cubic-bezier(0.16, 0.68, 0.43, 0.99);
$fn-bezier-bounce-back: cubic-bezier(.09,1.32,.72,1.1);

@mixin transition($t: 0.250s, $p: all, $d: 0, $fn: ease-in-out) {
	-webkit-transition: $p $t $fn $d;
	-moz-transition: $p $t $fn $d;
	-o-transition: $p $t $fn $d;
	-ms-transition: $p $t $fn $d;
	transition: $p $t $fn $d;
}

@mixin transition-vendor($t: 0.250s, $p: all, $d: 0, $fn: ease-in-out) {
	-webkit-transition: u("-webkit-#{$p}") $t $fn $d;
	-moz-transition: u("-moz-#{$p}") $t $fn $d;
	-o-transition: u("-o-#{$p}") $t $fn $d;
	-ms-transition: u("-ms-#{$p}") $t $fn $d;
	transition: $p $t $fn $d;
}

@mixin transition-ex($args) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-o-transition: $args;
	-ms-transition: $args;
	transition: $args;
}

@mixin user-select($args) {
	-khtml-user-select: $args;
	-moz-user-select: $args;
	-ms-user-select: $args;
	-webkit-touch-callout: $args;
	-webkit-user-select: $args;
	user-select: $args;
}

@mixin backface-visibility($args) {
	-webkit-backface-visibility: $args;
	-moz-backface-visibility: $args;
	-ms-backface-visibility: $args;
	backface-visibility: $args;
}

.blurred {
	filter: blur(4px); 
	-webkit-filter: blur(4px); 
	-moz-filter: blur(4px);
	-o-filter: blur(4px); 
	-ms-filter: blur(4px);
}

@mixin blurred($args) {
	filter: blur($args); 
	-webkit-filter: blur($args); 
	-moz-filter: blur($args);
	-o-filter: blur($args); 
	-ms-filter: blur($args);    
}

@mixin rotate-2d($t: 0, $o: 50% 50% 0) {
	-ms-transform-origin: $o;
	-webkit-transform-origin: $o;
	-o-transform-origin: $o;
	transform-origin: $o;
	-ms-transform: rotate($t);
	-webkit-transform: rotate($t);
	-o-transform: rotate($t);
	transform: rotate($t);
}

@mixin rotate-translate-2d($t: 0, $x: 0, $y: 0, $o: 50% 50% 0) {
	@include rotate-translate-3d($t, 0, 0, 1, $x, $y, 0, $o);
}

@mixin rotate-translate-3d($t: 0, $ux: 0, $uy: 0, $uz: 1, $x: 0, $y: 0, $z: 0, $o: 50% 50% 0) {
	-ms-transform-origin: $o;
	-webkit-transform-origin: $o;
	-o-transform-origin: $o;
	transform-origin: $o;
	-ms-transform: rotate3d($ux, $uy, $uz, $t) translate3d($x, $y, $z);
	-webkit-transform: rotate3d($ux, $uy, $uz, $t) translate3d($x, $y, $z);
	-o-transform: rotate3d($ux, $uy, $uz, $t) translate3d($x, $y, $z);
	transform: rotate3d($ux, $uy, $uz, $t) translate3d($x, $y, $z);
}

@mixin preserve-3d {
	-webkit-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

@mixin perspective($v) {
	-webkit-perspective: $v;
	-moz-perspective: $v;
	-ms-perspective: $v;
	-o-perspective: $v;
	perspective: $v;
}


/* animations */

@-webkit-keyframes rotation {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes rotation {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(359deg); }
}

@-o-keyframes rotation {
	from { -o-transform: rotate(0deg); }
	to { -o-transform: rotate(359deg); }
}

@keyframes rotation {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}

@-webkit-keyframes fading-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fading-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fading-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fading-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@mixin circular-loader($r: 32px) {
//($bg: black(0.1), $fg: white(0.8), $r: 60px) {
	@include absolute-tlwh(50%, 50%, $r, $r);
	// @include animation(rotation 0.600s infinite linear);
	// @include rounded-corners(100%);
	@include transition(0.600s, opacity);
	// border-bottom: 6px solid $bg;
	// border-left: 6px solid $bg;
	// border-right: 6px solid $bg;
	// border-top: 6px solid $fg;
	margin: -$r / 2;
	background: url(../img/loaders/oval_gray.svg) no-repeat center center;
	background-size: contain;
}

.circular-loader {
	@include circular-loader;
	opacity: 0;
	&.loading { opacity: 1; }
}

.fade-in-off, .fade-out-off { 
	@include transition(0.600s, opacity);
}

.fade-in-off-delayed, .fade-out-off-delayed { 
	@include transition(0.600s, opacity, 1s);
}

.fade-in-off, .fade-in-off-delayed { opacity: 0; }

.fade-in { opacity: 1; }

.fade-out { opacity: 0; }