* {	
	margin: 0;
	padding: 0;
}

.page-container {
	overflow: hidden;
}

.content {
	@include translate-3d;
	background: none;
	overflow-y: auto;
	z-index: 0;
}

.content-padded { margin: 16px; }

/* Forms */

$inputs: 'input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select';

form, .form {
	#{$inputs} { 
		@include sans(18, normal, $half-text);
		display: block;
		margin-bottom: 0; 
		padding: 0 10px;
	}
	select { @include sans(18, normal, $half-text); }
	textarea {
		padding: 8px 10px;
		resize: none; 
	}
	.buttons-check {
		label i { color: white; }
	}
	label {
		@include open-sans(18, normal, $half-text);
		padding-bottom: 4px;
		display: block;
		&.inline {
			@include uppercase-first;
			height: rc(41);
			line-height: rc(41);
			margin: 0; 
			padding: 0;
		}
	}
	p.inline {
		@include uppercase-first; 
		color: $half-text; 
		height: rc(41);
		line-height: rc(41);
		margin: 0;
		padding: 0;
	}
	.field { 
		&:before, &:after { content: ''; display: table; }
		&:after { clear: both; }
		*zoom: 1;
		&:not(.compact) { margin-bottom: rc(8); }
		&:last-of-type { margin-bottom: 0; }
		&.for-transparent {
			::-webkit-input-placeholder { color: white(0.65); }
			:-moz-placeholder { color: white(0.65); }
			::-moz-placeholder {  color: white(0.65); }
			:-ms-input-placeholder { color: white(0.65); }
		}
		&.deletable, &.with-toggle {
			position: relative;
			padding-right: 40px;
			.circular-icon {
				@include circular-icon(rc(32), black(0.05), $primary, black(0.25), rc(16));
				float: left;
				margin: 4px 0 0 4px;
				img {
					display: inline-block;
					width: 16px;
				}
			}
			.buttons {
				@include absolute-expanded(0, auto, 0, 0);
			}
		}
		&.deletable.with-toggle {
			padding-right: 80px;
		}
		.hint {
			@include open-sans(14px, normal, $gray-a);
			margin: 8px 0 0;
			&.hint-error, .hint-error { color: $red; }
		}
		.circular-icon {
			&:not(:active) { background: black(0.2); }
			i { color: white; }
			&.delete {
				&:active { background: $red; }
			}
		}
		.alert-box.error {
			@include uppercase-first;
			font-size: 14px;
		}
		
	}
	.separator { 
		border-top: 1px solid black(0.1); 
		display: block;
		margin: 48px -16px 0;
	}
	p.blank, p.blank a { 
		@include sans(16px, normal, $light-text);
		margin-bottom: 0;
		a { color: $primary; }
	}
	h3 {
		.remaining-characters:not(.depleted) { color: white; }
		&.form-separator {
			background: none;
			color: $primary;
			padding: 0;
			margin-bottom: 16px;
		}
	}
	.edit.transparent {
		background: white(0.45);
		border: none;
		color: white;
	}
	.edit.no-border {
		@include rounded-corners(3px);
		border: none;
	}
}

a { cursor: pointer; }

.btn {
	@include open-sans(18, normal, white);
	@include rounded-corners(3px);
	&:active { color: white; }
	padding: 8px 16px;
	&.tiny {
		@include open-sans(16, normal, white);
	}
	&.gray { color: $half-text; }
	&.transparent {
		background: black(0.1);
		border: none;
		color: white(0.75);
		&:active { background: black(0.25); }
	}
	&.main {
		// @include box-shadow(0 3px 0 $dprimary);
		@include transition(0.400s, background);
		border: none;
		font-size: 22px;
		margin-top: 16px;
		padding: 16px;
		position: relative;
		&:after {
			@include circular-loader(48px);
			background-image: url(../img/loaders/rings.svg);
			content: ' ';
			left: 8px;
			margin-left: 0;
			opacity: 0;
		}
		&.disabled {
			&:after { opacity: 1; }
		}
	}
	&.btn-block.shrinks {
		// @media #{$large-up} {
		// 	display: inline-block;
		// 	width: 50%;
		// 	margin: 0 25% 0;
		// 	&.main {
		// 		padding: 16px 64px;
		// 	}
		// }
	}
}

.bar.bar-nav {
	@include box-shadow-lv1;
	@include transition-vendor(0.300s, transform);
	background: $primary;
	border-bottom: 1px solid black(0.25);
	padding: 0;
	h1 { 
		@include open-sans(20, normal, white(0.95));
		line-height: $bar-base-height;
		margin: 0;
		pointer-events: none;
	}
	&:not(.active) {
		@include translate-2d(0, $bar-base-height * -1 - 4);
	}
	&:not(.primary) { 
		// @include box-shadow-lv1;
		@include box-shadow(none);
		background: $dprimary; 
		// border-bottom: none;
	}
	&.success { background: darken($green, 10%); }
	&.error { background: darken($red, 10%); }
	&.warning { background: darken($orange, 10%); }
	.btn-link {
		@include transition-vendor(0.300s, transform);
		&:not(.active) {
			@include translate-2d(0, $bar-base-height * -1 - 4);
		}
		&.pull-left {
			@include absolute-expanded(0, 0, auto, 0);
		}
		color: white;
		margin: 0;
		outline: none;
		width: $bar-base-height;
		z-index: 1;
		&.with-background { background: black(0.1); }
		&:active { background: white(0.1); }
		i {
			display: block;
			text-align: center;
			height: $bar-base-height;
			line-height: $bar-base-height;
			font-size: 20px;
			&.fa-bars {
				line-height: $bar-base-height + 2;
			}
		}
	}
	a.title {
		@include overpass(22, normal, white(0.95));
		@include transition-vendor(0.300s, transform);
		left: $bar-base-height;
		line-height: $bar-base-height - 2;
		margin: 0;
		padding: 0 12px;
		right: $bar-base-height;
		text-align: left;
		width: auto;
		img, span { 
			display: inline-block; 
			vertical-align: middle;
		}
		img {
			// margin-top: 3px;
			// width: 28px;
			height: 25px;
			width: auto;
		}
		// @media #{$large-up} { left: 8px; }
	}
	.search {
		@include absolute-expanded(8px, $bar-base-height + 12, $bar-base-height + 12, auto);
		@include transition-vendor(0.300s, transform);
		@include translate-2d(0, $bar-base-height * -1 - 4);
		.edit {
			@include rounded-corners(0);
			background: none;
			border-bottom: 1px solid white;
			font-size: 18px;
			padding: 0;
		}
		// @media #{$large-up} {
		// 	left: auto;
		// 	width: 300px;
		// }
	}
	&.searching {
		.search {
			@include translate-2d(0, 0);
		}
		a.title {
			@include translate-2d(0, $bar-base-height * -1 - 4);
		}
	}
}

.bar-tab.bar-footer {
	@include transition-vendor(0.300s, transform);
	background: $dk-bg;
	&:not(.active) {
		@include translate-2d(0, 64px);
	}
	a {
		&.active {
			background: black(0.25);
			i { color: white(0.85); }
		}
		&.main {
			position: relative;
			img {
				@include absolute-centered(68px, 68px);
				@include rounded-corners(50%);
				padding: 12px;
				background: $primary;
				//border: 3px solid $dk-bg;
			}
		}
		i {
			font-size: 25px;
			color: white(0.45);
		}
	}
	p { 
		@include open-sans(16, normal, white(0.25));
		height: 44px;
		line-height: 44px;
		text-align: center;
	}
}

ul {
	li { list-style: none; }
}

.modal {
	overflow-y: auto;
	padding: $bar-base-height 0 0;
	z-index: $modal-z;
	a.icon { color: white(0.6); }
	&:not(.active) {
		pointer-events: 0;
		z-index: -1;
	}
	.actions { 
		margin-top: 16px;
	}
	&.selector {
		ul {
			li {
				a { color: $half-text; }
			}
		}
	}
	&.lv2 { z-index: $modal-lv2-z; }
	// @media #{$large-up} {
	// 	@include absolute-expanded($bar-base-height + 8, 25%, 25%, auto);
	// 	@include box-shadow(0 0 32px black(0.35));
	// 	@include rounded-corners($global-radius);
	// 	height: auto !important;
	// 	max-height: 90%;
	// 	min-height: 0;
	// 	overflow: hidden;
	// 	width: auto;
	// 	.content {
	// 		padding-top: 0;
	// 		position: relative;
	// 	}
	// 	.bar.bar-nav {
	// 		background: $gray-a;
	// 	}
	// }
}

.modal-overlay {
	@include animation(fading-in 500ms ease-in-out);
	display: none;
}

// @media #{$large-up} {
// 	.modal-overlay.active {
// 		@include absolute-expanded;
// 		background: black(0.5);
// 		display: block;
// 		position: fixed;
// 		z-index: $modal-z - 1;
// 		&.lv2 { z-index: $modal-lv2-z - 1; }
// 	}
// }


.slider {
	height: 100%;
	position: absolute;
	.slide-group {
		height: 100%;
		.slide {
			white-space: initial;
			font-size: inherit;
		}
	}
}

.table-view {
	@include transition(0.250s, opacity);
	border: none;
	& > li {
		border: none;
		& > a:not(.btn) {
			@include title;
			border-bottom: 1px solid $gray-f4;
			&:not(.navigate-right) { padding: 12px 16px; }
			&.navigate-right { padding-right: 44px; }
			&.no-border { border: none; }
			.name, .subname { display: block; }
			.name {
				@include sans(18, normal, $full-text);
				margin-bottom: 2px;
				&.cell-title {
					color: $primary;
				}
			}
			.subname { 
				@include open-sans(16, normal, lighten($half-text, 8%));
				&.dark { color: $full-text; }
			}
			.side-icon {
				color: black(0.25);
				margin-right: 4px;
				&.active {
					color: $green;
				}
			}
			.media-object { margin-right: 16px; }
			.profile-img {
				@include rounded-corners(50%);
				border: 2px solid black(0.1);
				height: 48px;
				overflow: hidden;
				width: 48px;
				img, .initials {
					width: 48px;
					margin: -2px;
				}
				.initials {
					height: 48px;
					background: black(0.1);
					color: white;
					text-transform: uppercase;
					display: block;
					line-height: 48px;
					text-align: center;
				}
			}
		}
	}
	&.without-last-border > li:last-child > a:not(.btn) { border: none; }
	// @media #{$large-up} {
	// 	&:not(.expanded) {
	// 		padding-top: 16px;
	// 		& > li {
	// 			@include rounded-corners($global-radius);
	// 			background: white;
	// 			float: left;
	// 			margin: 0 1% 16px;
	// 			width: 31%;
	// 			& > a:not(.btn) {
	// 				@include ellipsis;
	// 				border: 1px solid $gray-f4 !important;
	// 			}
	// 		}
	// 	}
	// }
}