//
// Variables
// --------------------------------------------------


// Type
// --------------------------------------------------
$font-family-default: $open-sans-normal;
// $font-size-default: 17px !default;
// $font-weight: 500 !default;
// $font-weight-light: 400 !default;
// $line-height-default: 21px !default;


// Colors
// --------------------------------------------------

// Main theme colors
$primary-color: $primary;
// $chrome-color:  #fff !default;

// Action colors
// $default-color:  #fff !default;
$positive-color: $green;
$negative-color: $red;


// Bars
// --------------------------------------------------

$bar-base-height:  54px !default;
// $bar-tab-height:   50px !default;
// $bar-side-spacing: 10px !default;


// Cards
// --------------------------------------------------

// $card-bg: #fff !default;


// Buttons
// --------------------------------------------------

$button-font-size: 22px;


// Transitions
// --------------------------------------------------

// $timing-fuction: cubic-bezier(.1,.5,.1,1) !default; // Inspired by @c2prods


// Borders
// --------------------------------------------------

$border-default: 1px solid black(0.15);
$border-radius: 0;
