/* search specific rules */

#search-index-content {
	background: white;
	.content {
		.results {
			.blank-state {
				i {
					font-size: 100px;
					color: black(0.1);
					text-align: center;
					display: block;
					padding: 32px 0 16px;
				}
				p {
					@include title(black(0.25));
					padding: 0 32px;
					text-align: center;
				}
			}
		}
	}
}
