<!DOCTYPE html>
<html>
	<head>
		<!-- metadata -->
		<title>Handshake</title>
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
		
		<!-- stylesheets -->
		<%= stylesheet_link_tag "main" %>

		<% if build? && target?(:android) %>
		<script type="text/javascript" src="platforms/android/cordova.js"></script>
		<% end %>
	</head>
	<body>
		<!-- notifications -->
		<div id="notification-area"></div>

		<!-- main content -->
		<%= yield %>

		<!-- templates -->
		<%= template "views", "shared-alert" %>
		<%= template "views", "sessions-new" %>
		<%= template "views", "home-index" %>
		<%= template "views", "home-settings" %>

		<%= template "views", "search-index" %>

		<!-- application javascripts -->
		<%= javascript_include_tag  "vendor" %>
		<%= javascript_include_tag  "app" %>
		<%= javascript_include_tag  "app_wrapper" %>
		<script type="text/javascript">
			app_wrapper = new AppWrapper();
			app_wrapper.initialize();
		</script>
	</body>
</html>