@import "src/base";



/* application shared rules */

html, body { 
	height: 100%; 
	overflow: hidden;
}

#container {
	height: 100%;
}

#page-container, .page-cache {
	@include absolute-expanded;
	@include translate-3d(0, 0, 0);
	@include transition-ex(none);
	z-index: 0;
	&.hidden {
		// @include transition-vendor(0.250s, transform);
		// @include translate-3d(100%, 0, 100px);
		@include translate-3d(100%, 0, 0);
		// display: none;
		pointer-events: none;
		// z-index: 9999;
		z-index: 1;
	}
}

.page-content {
	margin: $bar-base-height 0 0;
	@include absolute-expanded;
	overflow-y: auto;
	.bg-overlay {
		@include absolute-expanded;
		background: black(0.25);
		content: '';
		z-index: 0;
	}
	&.full-scr { margin: 0; }
	&:not(.full-scr) { padding-bottom: 64px + 16 * 2; }
	&.no-footer { margin-bottom: 0; }
}

.avoids-floating-button {
	padding-bottom: 64px + 16 * 2 !important;
}


/* Section specific rules */

@import "src/auth";
@import "src/home";