<div id="home-settings-content" class="page-content full-scr">
	<div class="content">
		<!-- navbar -->
		<header class="bar bar-nav primary active">
			<button class="btn-link btn-nav pull-left menu-btn with-background active">
				<%= fa_icon 'bars' %>
			</button>
			<h1 class="title">Settings</h1>
			<button class="btn-link btn-nav pull-right with-background active" data-bind="click: onSaveSettings, enabled: !saving()">
				<!-- ko if: saving -->
					<i class="fa fa-cog fa-spin"></i>
				<!-- /ko -->
				<!-- ko ifnot: saving -->
					<%= fa_icon 'save' %>
				<!-- /ko -->
			</button>
		</header>

		<!-- settings form -->
		<form>
			<div>
				<h3 class="head-title form-separator">Application</h3>
				<ul class="table-view">
					<li class="table-view-cell">
						<a>
							Use location
							<div class="toggle">
								<div class="toggle-handle"></div>
							</div>
						</a>
					</li>
					<li class="table-view-cell">
						<a>
							<div class="media-body">
								<span class="name cell-title">City</span>
								<span class="subname">Barranquilla</span>
							</div>
					    </a>
					</li>
					<li class="table-view-cell">
						<a class="no-border">
							<div class="media-body">
								<span class="name cell-title">Refresh news</span>
								<span class="subname">Each week</span>
							</div>
					    </a>
					</li>
				</ul>
				<span class="separator"></span>
			</div>
			<div>
				<h3 class="head-title form-separator">Other settings</h3>
				<div class="field">
					<a class="btn btn-block gray">Clear app cache</a>
				</div>
				<div class="field">
					<a href="#signout" class="btn btn-block gray">Sign out</a>
				</div>
			</div>
		</form>
	</div>
</div>