/* frames */

.dialog {
	height: 100%;
	margin: 0 auto;
	max-width: 480px;
	padding: rc(16 32);
	position: relative;
	h1 {
		margin: rc(8 0 16);
		padding-bottom: rc(16);
	}
	h2 { margin-bottom: rc(16); }
	.actions {
		&.with-separator { 
			border-top: 1px solid $gray-c; 
			margin-top: rc(16);
		}
		.button {
			display: block; 
			margin: rc(16) auto 0; 
		}
	}
	.frame-hints { 
		border-top: 1px solid black(0.1);
		margin-top: rc(16);
		padding-top: rc(12);
		p, a { 
			font-size: rc(16);
			margin-bottom: 0;
			text-align: justify;
		}
	}
}

.floating-modal {
	@include absolute-expanded;
	z-index: 2000;
	&:not(.active) {
		pointer-events: none;
		.floating-modal-overlay { opacity: 0; }
		.floating-modal-container {
			@include translate-2d(0, -300px - 16 - 8);
		}		
	}
	.floating-modal-overlay {
		@include absolute-expanded;
		@include transition(0.300s, opacity);
		position: fixed;
		z-index: 0;
		background: white(0.85);
	}
	.floating-modal-container {
		@include absolute-expanded(16px, 16px, 16px, auto);
		@include box-shadow(0 0 16px black(0.35));
		@include rounded-corners($global-radius);
		@include transition-vendor(0.300s, transform);
		background: white;
		height: 300px;
		overflow: hidden;
		z-index: 1;
		.modal-header {
			@include absolute-expanded(0, 0, 0, auto);
			@include rounded-corners(0 $global-radius $global-radius 0);
			height: 54px + 40;
			overflow: hidden;
		}
		.modal-title {
			@include ellipsis;
			@include sans(22px, normal, white);
			background: $primary;
			height: 54px;
			line-height: 54px;
			margin: 0;
			padding: 0 16px;
		}
		.modal-subtitle {
			@include ellipsis;
			@include title($light-text);
			background: $gray-f4;
			height: 40px;
			line-height: 40px;
			margin: 0;
			padding: 0 16px;
		}
		.modal-content {
			height: 300px - 54 - 40;
			margin-top: 54px + 40;
			overflow-y: auto;
		}
		.table-view {
			border: none;
			li {
				border: none;
				a {
					@include title($half-text);
					border-bottom: 1px solid $gray-e;
					i {
						color: $light-text;
						margin-right: 4px;
					}
				}
			}
		}
	}
}

.half-frame {
	padding: rc(80);
}



/* other elements */

$button-spread-radius: 96px;
$button-size: 64px;
$sub-button-radius: $button-size / 2 + $button-spread-radius;

.floating-btn-overlay {
	@include absolute-expanded;
	@include gradient(white(0.1), $gray-e);
	// @include transition(0.300s, opacity);
	@include animation(fading-in 0.300s ease-in-out 1);
	position: fixed;
	z-index: $floating-btn-z - 1;
	// &:not(.active) {
	// 	opacity: 0;
	// 	pointer-events: none;
	// }
}

@mixin tiny-floating-btn {
	@include circular-icon(32px, $accent, $daccent, white, 18px, white);
	@include box-shadow-lv1;
}

@mixin small-floating-btn {
	@include circular-icon(48px, $accent, $daccent, white, 24px, white);
	@include box-shadow-lv1;
}

.floating-btn {
	@include absolute-expanded(auto, auto, 16px, 16px);
	@include transition-vendor(0.400s, transform);
	height: $button-size;
	position: fixed;
	width: $button-size;
	z-index: $floating-btn-z;
	&:before {
		@include absolute-expanded;
		@include box-shadow-lv2;
		@include rounded-corners(50%);
		@include transition-ex(u("0.400s box-shadow 0 linear, 0.400s background 0 ease-in-out"));
		background: $accent;
		content: ' ';
		z-index: 1;
	}
	&:active {
		&:before {
			@include box-shadow(0 1px 5px 1px black(0.26));
		}
	}
	&:not(.active) {
		@include translate-2d(0, $button-size + 16 + 8);
	}
	&.open {
		&:before { 
			@include box-shadow(0 0 1px black(0.1), 0 1px 1px black(0.1));
			background: $daccent;
		}
	}
	&:not(.open), &:not(.active) {
		span.action {
			@include transition-vendor(0.250s, transform);
			&:nth-child(1) { @include rotate-translate-2d(-10deg, 0, 8px); }
			&:nth-child(2) { @include rotate-translate-2d(-45deg, 0, 8px); }
			&:nth-child(3) { @include rotate-translate-2d(-80deg, 0, 8px); }
		}
	}
	img, & > i {
		@include absolute-centered(36px, 36px);
		z-index: 2;
	}
	& > i {
		color: white;
		font-size: 28px;
		line-height: 36px;
		text-align: center;
	}
	span.action {
		span {
			@include box-shadow(0 2px 5px 0 black(0.26));
			@include circular-icon(rc(40), $primary, $dprimary, white, rc(20));
		}
		@include transition-vendor(0.400s, transform, 0, $fn-bezier-bounce-back);
		display: block;
		position: absolute;
		z-index: 0;
		&:nth-child(1) { 
			@include rotate-translate-2d(-10deg, 0, $sub-button-radius * -1);
			span { @include rotate-2d(10deg); }
		}
		&:nth-child(2) { 
			@include rotate-translate-2d(-45deg, 0, $sub-button-radius * -1);
			span { @include rotate-2d(45deg); }
		}
		&:nth-child(3) { 
			@include rotate-translate-2d(-80deg, 0, $sub-button-radius * -1);
			span { @include rotate-2d(80deg); }
		}
	}
}

.buttons-radio, .buttons-check {
	padding-left: 4px;
	input {
		display: none; 
		margin: rc(10);
	}
	input + label {
		background: black(0.05);
		color: black(0.25);
		display: inline-block;
		height: rc(41);
		line-height: rc(41);		
		margin: 0 0 0 rc(-4);
		padding: 0 rc(16);
	}
	&.only-icon {
		label {
			@include circular-icon(rc(32), black(0.05), black(0.05), black(0.25), rc(16));
			&:active { color: black(0.25); }
			margin-top: rc(4);
		}
	}
	&.round {
		label {
			@include rounded-corners(50%);
		}
	}
	input:checked {
		& + label {
			background: $dprimary !important;
			color: white;
			&:active { color: white; }
		}
	}
}

.buttons-check {
	float: left;
}

label.inline {
	&.for-buttons {
		background: black(0.25);
		color: white;
		float: left;
		padding: 0 rc(16);
		& + .buttons-radio, & + .buttons-check {
			float: left;
		}
	}
	&.for-buttons-check {
		float: left;
		padding-left: rc(8);
	}
}


.attached-count {
	@include circular-icon(rc(20), darken($red, 10%), darken($red, 10%), white, rc(12));
	position: absolute;
	bottom: rc(-4);
	right: rc(-4);
	z-index: 100;
}

.alert-box.error {
	@include rounded-corners(3px);
	@include open-sans(16px, normal, $red);
	background: black(0.1);
	margin: 3px 0;
	padding: 8px 10px;
}

#notification-area {
	@include absolute-expanded(0, 5%, 5%, auto);
	padding: 8px 8px 0;
	position: fixed;
	z-index: $notifications-z;
	.alert-box {
		@include box-shadow-lv2;
		@include open-sans(14, normal, white(0.9));
		@include rounded-corners($global-radius);
		@include transition(0.600s);
		@include uppercase-first;
		background: black(0.95);
		height: 36px;
		line-height: 36px;
		margin-bottom: 8px;
		padding: 0 16px;
		// &:first-child { margin-top: 8px; }
		&.hiding {
			@include box-shadow(none);
			opacity: 0;
			margin-top: -36px - 8;
		}
		&.error { color: $alert; }
	}
	@media #{$large-up} {
		@include absolute-expanded(0, 25%, 25%, auto);
	}
}

.blank-info, .blank-state {
	padding: rc(16);
	p {
		@include open-sans(18, normal, $gray-b);
		text-align: center;
	}
}
.blank-state {
	p {
		padding: 0 32px;
	}
	i {
		font-size: 100px;
		color: black(0.1);
		text-align: center;
		display: block;
		padding: 32px 0 16px;
	}
}


.infinite-loader {
	// background: black(0.1);
	padding: rc(16);
	display: none;
	p {
		@include open-sans(15, normal, black(0.35));
		margin: 0;
		text-align: center;
		i { margin-right: 4px; }
		img {
			height: 14px;
		}
	}
}

.head-title {
	@include sans(20, normal, white(0.95));
	@include uppercase-first;
	background: $dk-bg;
	height: $bar-base-height;
	line-height: $bar-base-height;
	margin: 0;
	padding: 0 16px;
	position: relative;
	text-align: left;
	clear: both;
	a.floating-btn-secondary {
		@include tiny-floating-btn;
		float: right;
		margin-top: 11px;
		i { 
			display: block;
			height: 32px;
			line-height: 32px;
			&.fa-plus { margin-top: 1px; }
		}
	}
	@media #{$large-up} {
		display: none;
	}
}

.head-subtitle {
	@include open-sans(14, normal, $half-text);
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 16px;
	&.segmented-control {
		@include rounded-corners(0);
		border: none;
		font-size: 11px;
		height: $bar-base-height * 0.75;
		line-height: $bar-base-height * 0.75	;
		margin-top: 0;
		a {
			border: none;
			border-bottom: 1px solid $primary;
			padding: 0;
			position: relative;
			vertical-align: middle;
			&:before {
				@include absolute-expanded(auto);
				@include transition(0.250s, opacity);
				border-bottom: 3px solid $primary;
				content: ' ';
				opacity: 0;
			}
			&.active {
				background: none;
				&:before { opacity: 1; }
			}
		}
	}
}

.loading-cloak {
	@include absolute-expanded;
	@include transition(0.400s, opacity);
	background: $gray-f4;
	pointer-events: none;
	position: fixed;
	z-index: $cloak-z;
	&:not(.active) { opacity: 0; z-index: -1; }
	&:not(.full-scr) { top: $bar-base-height; }
	// @media #{$large-up} {
	// 	left: 250px;
	// }
}



/* prompts */

.prompt {
	@include absolute-expanded;
	@include transition(0.600s, opacity);
	background: white(0.9);
	opacity: 0;
	z-index: $prompt-z;
	&.active { opacity: 1; }
	.prompt-content {
		@include absolute-expanded(15%, 0, 0, auto);
		background: $primary;
		h1 {
			@include sans(28px, normal, white);	
		}
		p {
			@include open-sans(22px, normal, black(0.5));	
			margin: 0;
		}
	}
	&.for-indications {
		.prompt-content {
			top: 32px;
			// margin-top: -200px;
			// top: 50%;
			.dialog { padding: 16px 0; }
		}
		h1 { margin: 16px 32px 0; }
		img {
			display: block;
			margin: 0 auto;
			opacity: 0.85;
			width: 120px;
		}
		.slider {
			background: black(0.1);
			position: relative;
			margin-top: 16px;
			padding-top: 8px;
		}
		.slider-counter {
			margin-top: 8px;
			text-align: center;
			span.active i { color: black(0.5); }
			i {
				@include transition(0.250s, color);
				color: black(0.25);
				display: inline-block;
				font-size: 10px;
				margin: 0 2px;
			}
		}
		p { 
			text-align: center;
			margin: 16px 32px 24px;
		}
		.btn {
			margin: 24px 32px 8px;
			width: auto;
			&:not(:active) { background: white(0.1); }
		}
	}
}



/* Nprogress */

$nprogress: black(0.4);

#nprogress {
	.bar {
		background: $nprogress;
	}
	.peg {
		box-shadow: 0 0 10px $nprogress, 0 0 5px $nprogress;
	}
	.spinner-icon {
		border-top-color: $nprogress;
		border-left-color: $nprogress;
	}
}



/* swiper */

.small-pagination, .title-pagination {
	padding: 4px 0;
	text-align: center;
	.swiper-pagination-switch {
		@include rounded-corners(50%);
		background: white(0.25);
		display: inline-block;
		height: 8px;
		margin: 0 3px;
		vertical-align: middle;
		width: 8px;
		&.swiper-active-switch {
			background: white(0.75);
		}
	}
}

.title-pagination {
	display: inline;
	margin-left: 4px;
}

/* typeahead */

span.twitter-typeahead {
	width: 100%;
}

span.twitter-typeahead .tt-hint {
	color: white(0.5) !important;
}

span.twitter-typeahead .tt-dropdown-menu {
	@include box-shadow-lv2;
	background-clip: padding-box;
	background-color: white;
	display: none;
	float: left;
	left: 0;
	list-style: none;
	margin: 2px 0 0;
	width: 100%;
	position: absolute;
	text-align: left;
	top: 100%;
	z-index: 1000;
}

span.twitter-typeahead .tt-suggestion > p {
	@include open-sans(16, normal, black(0.75));
	border-bottom: 1px solid black(0.05);
	clear: both;
	display: block;
	margin: 0;
	padding: 12px 16px;
	white-space: nowrap;
	&:focus, &:active, &:hover, &:focus {
		color: white;
		text-decoration: none;
		outline: 0;
		background-color: $primary;
	}
}

span.twitter-typeahead .tt-suggestion.tt-cursor {
	background-color: $primary;
	p { color: white }
}

.input-group span.twitter-typeahead {
	display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
	top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
	top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
	top: 28px !important;
}



/* emojis */

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
} 
