/*! Pushy - v0.9.2 - 2014-9-13
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */

.pushy {
	@include absolute-tlwh(0, 0, 250px, 100%);
	background: $sidebar-bg;
	position: fixed;
	z-index: $pushy-z;
	&:after, &:before {
		@include absolute-expanded(0, auto, -1px, 0);
		border-right: 1px solid black(0.2);
		content: '';
	}
	&:before {
		border-color: black(0.1);
		right: -2px;
	}
	li.separator { border-bottom: 1px solid black(0.1); }
	a {
		@include sans(18, normal, $half-text);
		display: block;
		padding: 20px;
		i {
			width: 20px;
			margin-right: 8px;
		}
		&:active {
			// background: $dprimary;
			background: black(0.1);
			color: $half-text;
		}
		&.active {
			// background: $primary;
			// color: white;    
			background: black(0.05);
			color: $primary;
		}
	}
	.profile {
		background: black(0.2);
		padding: 16px;
		.profile-image {
			@include rounded-corners(50%);
			border: 2px solid black(0.1);
			float: left;
			height: 36px + 4;
			overflow: hidden;
			width: 36px + 4;
			img {
				height: 36px;
				width: 36px;
			}   
			.initials {
				background: black(0.1);
				color: white;
				display: block;
				font-size: 14px;
				height: 36px;
				line-height: 36px;
				text-align: center;
				text-transform: uppercase;
			}
		}
		h1 {
			@include open-sans(20, normal, white);
			float: left;
			line-height: 40px;
			margin: 0 0 0 8px;
		}
	}
	// @media #{$large-up} {
	// 	top: $bar-base-height;
	// }
}



/* Menu Movement */

.pushy-left {
	// @media #{$medium-down} {
		@include translate-2d(-255px, 0);
	// }
}


.pushy-open {
	@include translate-2d(0, 0);
}

.push-push {
	@include translate-2d(250px, 0);
}

// .container-push {
// 	@include translate-3d;
// }



/* Menu Transitions */

.pushy, #container, .push {
	// @media #{$medium-down} {
		@include transition-vendor(0.450s, transform, 0, $fn-bezier);
	// }
}



/* Site Overlay */

.site-overlay {
	display: none;
}

.pushy-active .site-overlay{
	// @media screen and (max-width: 999px) {
		@include absolute-expanded;
		@include animation(fading-in 500ms ease-in-out);
		background-color: black(0.15);
		display: block;
		position: fixed;
		z-index: $pushy-z - 1;
	// }
}