<div id="signup" class="page-content full-scr">
	<!-- login -->
	<div id="auth-content" data-bind="">
		<div id="auth" class="dialog">
			<div class="frame-content">
				<h1>Handshake</h1>
				<h2>Registrarse</h2>
				<form>
					<div class="field">
						<input class="edit fill-in" placeholder="Nombre de usuario" type="text" data-bind="value: usuario">
					</div>
					<div class="field">
						<input class="edit fill-in" placeholder="Correo electrónico" type="text" data-bind="value: email">
					</div>
					<div class="field">
						<input class="edit fill-in" placeholder="Contrase&ntilde;a" type="password" data-bind="value: password">
					</div>
					<div class="field">
						<input class="edit fill-in" placeholder="Repetir contrase&ntilde;a" type="password" data-bind="value: password_confirmation">
					</div>
					<div class="field">
						<input class="edit fill-in" placeholder="Nombre completo" type="text" data-bind="value: nombre_completo">
					</div>
					<div class="clearfix"></div>
					<div class="actions">
						<a class="btn btn-primary btn-block" data-bind="click: onRegister">Registrarse</a>
					</div>
				</form>
			</div>
			<div class="frame-hints">
				<p>Si ya estás registrado puedes <a href="#login">iniciar sesión</a> o <a href="#">reestablecer tu contrase&ntilde;a</a>. Al enviar este formulario confirmas que aceptas los <a href="#terms-modal" data-bypass>terminos y condiciones</a> de Handshake</p>
			</div>
		</div>
	</div>

	<!-- <div class="circular-loader" data-bind="css: {loading: session_saving}"></div>
	<h3 class="status-message-secondary fade-in-off" data-bind="css: {'fade-in': authenticated}">Bienvenido, <span data-bind="text: username"></span>.</h3> -->
	<!-- <h3 class="status-message-secondary fade-in-off-delayed" data-bind="css: {'fade-in': authenticated}">Te estamos llevando a tu tablero.</h3> -->
</div>

<div id="terms-modal" class="modal">
	<header class="bar bar-nav">
		<a class="icon icon-close pull-right" href="#myModalexample"></a>
		<h1 class="title">Terminos y condiciones</h1>
	</header>

	<div class="content">
		<p class="content-padded">The contents of my modal go here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
	</div>
</div>