<div id="search-index-content" class="page-content">
	<div class="content">
		<div class="results">
			<span class="blank-state" data-bind="visible: is_blank()">
				<%= fa_icon 'meh-o' %>
				<p>No se han encontrado resultados.</p>
			</span>
			<span class="blank-state" data-bind="visible: loading()">
				<%= fa_icon 'coffee' %>
				<p>Buscando...</p>
			</span>
			<ul class="table-view" data-bind="foreach: results, visible: !results_empty()">
				<li class="table-view-cell">
					<a class="navigate-right" data-bind="attr: {href: result_url}">
						<span class="name cell-title"><%= ko 'name' %></span>
						<span class="subname"><%= ko 'description' %></span>
					</a>
				</li>
			</ul>
			<div class="infinite-loader">
				<p><i class="fa fa-circle-o-notch fa-spin"></i> Cargando...</p>
			</div>
		</div>
	</div>
</div>