<!-- off canvas -->
<aside class="left-off-canvas-menu">
	<%= partial "views/shared/sidebar" %>
</aside>

<!-- site overlay -->
<div class="site-overlay"></div>

<!-- content -->
<div id="container">
	<!-- navigation -->
	<div class="navigation">
		<!-- menu -->
		<%= partial 'views/shared/navbar' %>

		<!-- floating button -->
		<%= partial 'views/shared/floating_button' %>

		<!-- footer -->
		<!--<%= partial 'views/shared/footer' %>-->
	</div>

	<!-- page swap -->
	<div id="pages">
		<div id="page-container"></div>
	</div>
</div>