<div id="sessions-new-content" class="page-content no-menu full-scr auth-page">
	<div class="auth-content" data-bind="css: {success: authenticated}">
		<div class="auth-heading">
			<%= image_tag 'logo_white_full.png', class: 'logo', width: '180' %>
		</div>
		<div class="content dialog">
			<form>
				<div class="field">
					<input class="edit" placeholder="Usuario o correo" type="text" data-bind="value: username, valueUpdate: 'keyup', css: {disabled: session_saving}, event: {keypress: onKeyPress}">
				</div>
				<div class="field">
					<input class="edit" placeholder="Contraseña" type="password" data-bind="value: password, valueUpdate: 'keyup', css: {disabled: session_saving}, event: {keypress: onKeyPress}">
					<%= js_field_errors 'session', 'message' %>
				</div>
				<div class="clearfix"></div>
				<div class="actions">
					<a class="btn btn-primary btn-block main" data-bind="click: onLogin, css: {disabled: session_saving}">Iniciar sesión</a>
					<p class="or"><a href="#signup">o regístrate si aún no lo estás</a></p>
				</div>
			</form>
			<div class="frame-hints">
				<p>Si tienes problemas para entrar puedes <a href="#passwords/restore">recuperar tu contraseña</a>.</p>
			</div>
		</div>
	</div>
	<div class="auth-welcome">
		<h2 class="status-message fade-in-off" data-bind="css: {'fade-in': authenticated}">Bienvenido a Linku</h2>
		<h3 class="status-message-secondary fade-in-off-delayed" data-bind="css: {'fade-in': authenticated}">
			<i class="fa fa-cog fa-spin"></i> Te estamos llevando allá
		</h3>
	</div>
</div>